.layout-container {
    display: flex;
    min-height: 100dvh;
}

.main-content {
    flex: 1;
    padding-left: calc(var(--sidebar-width, 245px) + 20px); /* Sidebar 너비만큼 여백 줌 */
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
