.login-Register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-Register-box {
    width: 300px;
    padding: 2rem;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 0.7rem;
}

.logo-text {
    font-family: 'Parisienne', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #262626;
}

.signup-message {
    font-size: 1rem;
    color: #737373;
    margin: 0 0 1.5rem 0;
    line-height: 1.4;
    font-weight: 600;
}

.login-Register-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.login-Register-form input {
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fafafa;
}

.login-Register-form input:focus {
    outline: none;
    border-color: #aaa;
}

.login-Register-button {
    background-color: #0095f6;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-Register-button:hover {
    background-color: #007cd6;
}

.register-link {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #262626;
}

.login-register-link button {
    background: none;
    border: none;
    color: #0095f6;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0.5rem;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #dbdbdb;
}

.or-text {
    margin: 0 1rem;
    color: #8e8e8e;
    font-weight: 500;
    font-size: 0.9rem;
}

.forgot-password {
    margin-bottom: 1.5rem;
}

.forgot-password button {
    background: none;
    border: none;
    color: #00376b;
    font-size: 0.9rem;
    cursor: pointer;
}

.form-message {
    font-size: 0.85rem;
    margin-top: -0.6rem;
    text-align: left;
    padding-left: 0.2rem;
}

.form-message.error {
    color: #d93025;
}