.profile-container {
    max-width: 935px;
    margin: 0 auto;
    font-family: sans-serif;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: clamp(0px, calc((100vw - 500px) * 0.1471), 64px);
    margin-bottom: 3rem;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 3rem;
    object-fit: cover;
}

.profile-image.clickable {
    cursor: pointer;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.profile-info-username {
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin: 0;
}

.profile-info-stats {
    font-size: 16px;
    color: #737373;
    margin: 0;
}

.profile-info-board-count {
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin: 0;
}

.profile-info-displayName {
    font-size: 14px;
    color: black;
    font-weight: 600;
    margin: 0;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.post-item img {
    width: 100%;
    aspect-ratio: 1 / 1.3;
    object-fit: cover;
    display: block;
}

.profile-divider {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 3rem 0;
}