.logo {
    font-family: 'Parisienne', cursive;
    font-size: 1.8rem;
    color: #262626;
    text-decoration: none; 
    padding: 1.3rem 0.6rem;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.sidebar {
    position: fixed;
    width: 244px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.menu-top, .menu-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu button {
    display: flex;
    align-items: center;
    gap: 15px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #000000;
    padding: 1.5rem 0.4rem;
    height: 47px;
}

.menu button:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.menu button.active {
    font-weight: 1000;
}

.menu button.active svg {
    stroke: #000;
    stroke-width: 2.5;
}

@media (max-width: 1264px) {
    .sidebar {
        width: 72px;
    }

    .menu-label {
        display: none;
    }

    .menu button {
        justify-content: center;
    }
}