.sidebar-container {
    position: fixed;
    width: 244px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    z-index: 1000;
    background-color: #fff;
}

.logo {
    font-family: 'Parisienne', cursive;
    font-size: 1.8rem;
    color: #262626;
    text-decoration: none; 
    padding: 1.3rem 0.6rem;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.menu-top, .menu-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu button {
    display: flex;
    align-items: center;
    gap: 15px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #000000;
    padding: 1.5rem 0.4rem;
    height: 47px;
}

.menu button:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.menu button.active {
    font-weight: 1000;
}

.menu button.active svg {
    stroke: #000;
    stroke-width: 2.5;
}

@media (max-width: 1264px) {
    .sidebar-container {
        width: 72px;
    }

    .menu-label {
        display: none;
    }

    .menu button {
        justify-content: center;
    }
}

.menu-icon-wrapper {
    position: relative;
    display: inline-block;
}

.menu-icon-wrapper svg {
    display: block;
}

.bubble-badge {
    position: absolute;
    top: -8px;
    right: -4px;
    background-color: #ff3040;
    color: white;
    font-size: 0.65rem;
    font-weight: 400;
    padding: 4px 6px;
    border-radius: 999px;
    line-height: 1;
    white-space: nowrap;
    box-shadow: 0 0 0 2px white;
}

.dot-indicator {
    position: absolute;
    top: -2px;
    right: 1px;
    width: 8px;
    height: 8px;
    background-color: #ff3040;
    border-radius: 50%;
    box-shadow: 0 0 0 2px white;
}

.menu-label-wrapper {
    position: relative;
    display: inline-block;
}

.notification-bubble {
    position: absolute;
    top: -7px;
    left: 150%;
    margin-left: 6px;
    display: inline-flex;
    align-items: center;
    background-color: #ff3040;
    color: white;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    gap: 8px;
}

.notification-bubble::before {
    content: "";
    position: absolute;
    left: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #ff3040;
    border-end-start-radius: 4px;
}

.bubble-content {
    display: flex;
    align-items: center;
    gap: 4px;
}

.notification-icon {
    fill: #fff;
}

.notification-count {
    font-size: 14px;
    font-weight: 400;
}