.sidebar-container {
    position: fixed;
    width: 244px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    z-index: 1000;
    background-color: #fff;
}

.logo {
    font-family: 'Parisienne', cursive;
    font-size: 1.8rem;
    color: #262626;
    text-decoration: none; 
    padding: 1.3rem 0.6rem;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.menu-top, .menu-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu button {
    display: flex;
    align-items: center;
    gap: 15px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #000000;
    padding: 1.5rem 0.4rem;
    height: 47px;
}

.menu button:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.menu button.active {
    font-weight: 1000;
}

.menu button.active svg {
    stroke: #000;
    stroke-width: 2.5;
}

@media (max-width: 1264px) {
    .sidebar-container {
        width: 72px;
    }

    .menu-label {
        display: none;
    }

    .menu button {
        justify-content: center;
    }
}

.menu-icon-wrapper {
    position: relative;
    display: inline-block;
}

.bubble-badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #ff3b30;
    color: white;
    font-size: 0.65rem;
    font-weight: 400;
    padding: 4px 6px;
    border-radius: 999px;
    line-height: 1;
    white-space: nowrap;
    box-shadow: 0 0 0 2px white;
}